.feature {
    &__card {
        @media screen and (max-width: 991px) {
            margin-bottom: 30px;
        }
    }

    &__image {
        border-radius: 2rem;
        transition: all 0.3s;
        overflow: hidden;

        img {
            height: 300px;
            width: 100%;
            object-fit: cover;

            &:hover {
                opacity: 0.8;
                transition: 0.3s ease-in-out;
            }
        }
    }

    &__wrapper {
        position: relative;
        padding: 1rem;
        border-radius: 3rem;
        background: $bg-color;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        box-shadow: $shadow;
        cursor: pointer;
        margin-bottom: 2rem;
    }
}