$blueColor: #0196e3;
$textColor: #6c758f;
$fontColor: #47b5ed;
$headerColor: #36187d;
$bg-color: #f2f3f7;
$video-bg-color: #dae2ec;
$shadow: 0.2em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #fff;
$font-family: 'Roboto',display;